<template name="subscriberClassic">
<!--         <div class="form-wrapper">
                <form class="subscriber-form">
                        <div class="form-group">
                                {{#if status}}
                                        <div class="alert {{class}}">{{{message}}}</div>
                                {{/if}}
                                <input class="form-control fill-email" placeholder="myemail@example.com" required type="email">
                        </div>
                        <button type="submit" class="btn btn-primary subscribe-button">Subcribe</button>
                </form>
        </div> -->

        <div class="ui fluid form segment">
          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input placeholder="First Name" type="text">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input placeholder="Last Name" type="text">
            </div>
          </div>
          <div class="ui blue submit button">Submit</div>
        </div>
</template>