
<template name="subscriberClassic">
          <form class="ui fluid form segment">
                <div class="ui icon message">

                  <div class="content">
                 <p>De momento apuntate a nuestra newsletter, dentro de muy poco vamos a anunciar muchas cosas importantes! :)</p>
                  </div>
                </div>
              {{#if status}}
              <div class="ui {{class}} message">
                  <div class="content">{{message}}</div>
              </div>
              {{/if}}
            <div class="field">
              <input placeholder="Añade tu mail" type="email" >
            </div>
          <button type="submit" class="ui green submit button fluid"></i>Apúntame</button>
        </form>
</template>