<template name="subscriberClassic">
<!--         <div class="form-wrapper">
                <form class="subscriber-form">
                        <div class="form-group">
                                {{#if status}}
                                        <div class="alert {{class}}">{{{message}}}</div>
                                {{/if}}
                                <input class="form-control fill-email" placeholder="myemail@example.com" required type="email">
                        </div>
                        <button type="submit" class="btn btn-primary subscribe-button">Subcribe</button>
                </form>
        </div> -->

          <form class="ui fluid form segment">
                <div class="ui icon message">
                  <i class="inbox icon"></i>
                  <div class="content">
                    <div class="header">
                     Quieres estar a la info del Proyecto?
                    </div>
                    <p>Get all the best inventions in your e-mail every day. Sign up now!</p>
                  </div>
                </div>
              {{#if status}}
              <div class="ui {{class}} message">
                  <div class="content">{{message}}</div>
              </div>
              {{/if}}
            <div class="field">
              <input placeholder="Anade tu mail" type="email" >
            </div>
          <button type="submit" class="ui green submit button fluid"><i class="mail icon"></i>Apuntame</button>
        </form>
</template>