@import 'lib/variables';
@import 'lib/mixins';
@import 'lib/animations';


body {
 font-family: 'Roboto Slab', serif;
 font-size: 20px;

  @media @mobile {
    font-size: 13px;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.main-title{
  position: relative;
}

.page-title {
bottom: 5em;
position: absolute;

  @media @mobile {
    font-size: 1rem;
    bottom: 1em;
  }
}




//Iframe

iframe.responsive {
            max-width: 100%;
            padding:0 10px;
            box-sizing:border-box;

        }




//Errors
.parsley-error-list {
color: #E81123;
padding-left: 20px;
margin-bottom: 15px;
list-style: none;
}


//Modals

.modals {
  cursor: pointer;
}