@import 'lib/variables';
@import 'lib/mixins';
@import 'lib/animations';


body {
 font-family: 'Roboto Slab', serif;
 font-size: 20px;

  @media @mobile {
    font-size: 13px;
  }

  @media @tablet {
    font-size : 1em;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.main-title{
  position: relative;
}

.page-title {
bottom: 5em;
position: absolute;

  @media @mobile {
    font-size: 1rem;
    bottom: 1em;
  }
}




//Errors
.parsley-error-list {
color: #E81123;
padding-left: 20px;
margin-bottom: 15px;
list-style: none;
}


//Modals

.modals {
  cursor: pointer;
}




//Blog

a {
    color: inherit;
    text-decoration: none;
    color: @blue;
    transition: 0.5s color;

    &:hover {
        color: gray;
    }
}

.post-title {
  font-size: 3rem!important;
   @media @mobile {
    font-size : 2rem!important;
   }
}

.post {
  h1,h2,h3,h4,h5,h6{
  color : @blue;
  }

  p {
    font-size: 1.3rem;
  }

  pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: #FFF;
  background-color: #414344;
  border: 1px solid #CCC;
  border-radius: 0;
  }
}

#editor {
  min-height: 200px;
}



//Sidebar

#sidebar {
  .dropdown{
    a {
      color: #6B6B6B;
    }
  }
}