@import 'lib/variables';
@import 'lib/mixins';
@import 'lib/animations';

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


body {
 font-family: 'Roboto Slab', serif;
 font-size: 20px;
 font-weight: 300;
 color: #7C7C7C;

  @media @mobile {
    font-size: 13px;
  }

  @media @tablet {
    font-size : 1em;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

footer {
  margin: 0!important;
}

.main-title{
  position: relative;
}

.page-title {
bottom: 5em;
position: absolute;

  @media @mobile {
    font-size: 1rem;
    bottom: 1em;
  }
}


//Icons

i.icon{
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  &:hover {
    color: @blue;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}

//Errors
.parsley-error-list {
color: #E81123;
padding-left: 20px;
margin-bottom: 15px;
list-style: none;
}


//Modals

.modals {
  cursor: pointer;
}




//Blog

a {
    color: inherit;
    text-decoration: none;
    color: @blue;
    transition: 0.5s color;

    &:hover {
        color: gray;
    }
}

.post-title {
  font-size: 3rem!important;
   @media @mobile {
    font-size : 2rem!important;
   }
}

.post {
  h1,h2,h3,h4,h5,h6{
  color : @blue;
  }

  p {
    font-size: 1.3rem;
    color: #474646;
  }

  pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: #FFF;
  background-color: #414344;
  border: 1px solid #CCC;
  border-radius: 0;
  }
}

#editor {
  min-height: 200px;
}

#single-post-menu {
  .header {
    vertical-align: middle;
  }
  img{
    bottom: 5px;
  }
}


//Sidebar

#sidebar {
  z-index: 999999;
  .dropdown{
    a {
      color: #6B6B6B;
    }
  }
}