<template name="home">

 <div class="CoverImage FlexEmbed FlexEmbed--3by1" style="background-image:url(/img/header_io.jpg);"></div>

 <div class="ui horizontal icon divider">
   <i class="circular code icon"></i>
 </div>

<div class="ui four center aligned doubling column grid">
      <div class="column wow bounceInUp">
        <div class="ui icon header modals" data-modal="desarrolladores">
          <i class="circular basic blueIO trophy icon"></i>
          <div class="ui header">Desarrolladores</div>
          <div class="sub header">Una manera simple de dar forma a tu idea de aplicación en un fin de semana y enseñarsela al mundo.</div>
        </div>
        {{>modaldesarrolladores}}
      </div>

      <div class="column wow bounceInUp" data-wow-delay="0.2s">
        <div class="ui icon header modals" data-modal="disenadores">
          <i class="circular basic blueIO idea icon"></i>
          <div class="ui header">Diseñadores</div>
          <div class="sub header">Podrás contruir tu propia app con una interfaz muy interactiva. Por fin una plataforma que te facilitará el trabajo, y llevará tus diseños a otro nivel.</div>
        </div>
        {{>modaldisenadores}}
      </div>

      <div class="column wow bounceInUp" data-wow-delay="0.3s">
        <div class="ui icon header modals" data-modal="emprendedores">
          <i class="circular basic blueIO users icon"></i>
          <div class="ui header">Emprendedores</div>
          <div class="sub header">El futuro es de los emprendedores y por eso no hay ni un minuto que perder. Aquí aprenderás a desarrollar un MVP, escaláble y de la manera más rápida y ágil</div>
        </div>
        {{>modalemprendedores}}
      </div>

      <div class="column wow bounceInUp" data-wow-delay="0.4s">
        <div class="ui icon header modals" data-modal="aprendices">
          <i class="circular basic blueIO lightning icon"></i>
          <div class="ui header">Aprendices</div>
          <div class="sub header">En vez de empezar con lo antiguo, empeza ya con lo nuevo! ¿Te gustaría crear una pagina web en menos de 10min? Apúntate </div>
        </div>
        {{>modalaprendices}}
      </div>
</div>

 <div class="ui horizontal icon divider">
   <i class="circular bolt icon"></i>
 </div>

  <div class="column ui">
      <div class="basic segment ui">
        <div class="ui center aligned blueIO header wow flipInX" data-wow-delay="2s">
         <p class="content">Mallorca.io es una comunidad que se reúne con un solo fin :</p>
         <p class="content">Enseñar y compartir una nueva manera de aprender y hablar sobre experiencias relacionadas con el mundo del desarrollo web</p>
         <p class="content">Somos una comunidad muy unida que se reúne con fines no lucrativos,  apostamos por la interacción entre profesionales del mismo sector, resultando beneficioso para todos de igual modo.</p>
        </div>
      </div>
  </div>


<div class="one column center aligned stackable grid ui">

        <div class="column ten wide black tertiary ui wow fadeInLeft"  data-wow-delay="0.3s">
            <h1 class="ui ">¿Como apuntarse?</h1>
              {{>subscriberClassic}}
        </div>

</div>




</template>





<template name="modaldesarrolladores">
        <div class="ui modal desarrolladores">
          <i class="close icon"></i>
          <div class="header center aligned ui">
            <h3>Para Desarrolladores</h3>
            <div class="sub header">
               quí aprenderás a familiarizarte con las herramientas mas punteras del momento. Tratamos sobre temas como Node.js, MongoDB, Socket.IO, Reactive programming y mucho mas. Eventos para profesionales hechos por profesionales
            </div>
          </div>
          <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui button">OK</div>
          </div>
        </div>
</template>

<template name="modaldisenadores">
        <div class="ui modal disenadores">
          <i class="close icon"></i>
          <div class="header center aligned ui">
            <h3>Para Diseñadores</h3>
            <div class="sub header">
              <p>Utilizamos Meteor.js un framework javascript que te permite de una manera muy sencilla aprender del lado servidor.</p>
              <p>¿Te gustaria poder desarrollar y enseñar tus diseños en un minimo de tiempo? Esto es para ti!</p>
            </div>
          </div>
          <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui button">OK</div>
          </div>
        </div>
</template>

<template name="modalemprendedores">
        <div class="ui modal emprendedores">
          <i class="close icon"></i>
          <div class="header center aligned ui">
            <h3>Para Emprendedores</h3>
            <div class="sub header">
              <p>Creemos firmemente en que estamos viviendo en una época muy interesante para el mundo web.</p>
              <h3><em>Simplicity === Productivity</em></h3>
              <p>¿Cómo llegar a un prototipo de app o webapp de la manera más rápida?</p>
            </div>
          </div>
          <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui button">OK</div>
          </div>
        </div>
</template>

<template name="modalaprendices">
        <div class="ui modal aprendices">
          <i class="close icon"></i>
          <div class="header center aligned ui">
            <h3>Para Aprendices</h3>
            <div class="sub header">
              <p>En un sector que avanza tan rápido no podemos permitirnos perder el tiempo en aprender herramientas obsoletas y sistemas anclados en el pasado.</p>
              <p>Entra de una vez por todas en la era digital</p>
              <p>Ademas quieres divertirte haciendolo? Has encontrado tu sitio!! :)</p>
              <p>Te prometemos que en menos de 10 min tendras tu primera pagina web hecha para ensenar a todos tus amigos!</p>
            </div>
          </div>
          <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui button">OK</div>
          </div>
        </div>
</template>