<template name="home">

  <div class="one column ui grid main-title">
    <div class="CoverImage FlexEmbed FlexEmbed--3by1" style="background-image:url(/img/img16.jpg);"></div>

    <div class="column page-title">
      <div class="basic segment">
        <div class="ui center aligned inverted header">
         <h1>Mallorca.io</h1>
         <div class="sub header">Hablamo de Meteor.js</div>
        </div>
      </div>
    </div>
  </div>


  <div class="one column center aligned ui grid">

      <div class="six wide column">
        <div class="ui header">
        <h2>¿Para quien es Meteor?</h2>
        </div>
        <!-- <iframe class="responsive" src="//slid.es/valenpan/deck/embed" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe> -->
      </div>
  </div>


  <div class="ui four column doubling grid">
      <div class="column">
      <h2 class="ui huge center aligned icon header">
        <i class="circular inverted rocket icon"></i>
        <!-- <img class="rounded medium ui image" src="sublime.png"> -->
        <div class="content">Desarolladores<div class="sub header">Una manera simple de dar forma a tu idea de aplicación en un fin de semana y enseñarsela al mundo. k</div>
        </div>
      </h2>
      </div>
      <div class="column">
      <h2 class="ui huge center aligned icon header">
        <i class="circular inverted checkmark icon"></i>
        <!-- <img class="rounded small ui image" src="disenadores.jpg"> -->
        <div class="content">Disenadores<div class="sub header">Podrás construir tu propia App con una interfaz estelar.</div>
        </div>
      </h2>
      </div>
      <div class="column">
      <h2 class="ui huge center aligned icon header">
        <i class="circular inverted magic icon"></i>
        <div class="content">Emprendedores<div class="sub header">Al ser ágil y escalable permite desarrollar rapidamente un MVP (prototipo).</div>
        </div>
      </h2>
      </div>
      <div class="column">
      <h2 class="ui huge center aligned icon header">
        <i class="circular inverted magic icon"></i>
        <div class="content">Aprendices<div class="sub header">La filosofía Meteor te enseña como funciona la web.</div>
        </div>
      </h2>
      </div>
  </div>


  <div class="ui inverted horizontal section divider">
      <i class="green circular basic lightning icon"></i>
  </div>


<!--   <div class="ui grid center aligned ">
    <div class="ui image">
      <img src="/img/img3.jpg" alt="" class="ui masssive image">
    </div>

  </div> -->

<div class="column ten wide center aligned">
  {{>subscriberClassic}}
</div>

  <div class="ui inverted horizontal section divider">
      <i class="green circular basic community icon"></i>
  </div>




</template>