<template name="rolesModal">
  <div id="rolesModal" class="modal large ui">
    <i class="close icon"></i>
      <div class="header center aligned ui"> Manage Roles </div>
      <div class="ui segment">
        <div class="ui divided list">
          {{#each roles}}
          <div class="item">
            <div class="right floated tiny red ui button remove-role">Remove</div>
            <div class="content">
              <div class="header"><span class="ui label teal">{{name}}</span></div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="ui form small segment">
        <div class="field">
          <input name="role" id="roleValue" type="text">
          <div class="ui green right labeled button add-role">Add role</div>
        </div>
      </div>
  </div>
</template>