<template name='profile'>

<div class="ui page grid stackable segment">
  <div class="row">
    <div class="column">
      {{>profileModal}}
      <h2 class="left floated blueIO ui header">
        <a id="profileModalBtn" href="#">
        {{#if username}}
          <img src="{{gravatar}}" alt="" class="ui avatar image"> {{username}}
        {{else}}
          {{email}}
        {{/if}}
        </a>
      </h2>
      <div class="ui horizontal clearing divider"><i class="heart icon"></i></div>
    </div>
  </div>
  <div class="center one column aligned row">
    <div class="column">
        <div class="ui segment">
          {{> userCard }}
        </div>
    </div>
  </div>
</div>


</template>


