<template name='profile'>

<div class="ui page grid stackable segment">
  <div class="row">
    <div class="column">
      <div class="right floated  ui header"><button id="profileModalBtn" class="ui button green">Edit</button></div>
      {{>profileModal}}
      <h1 class="left floated blueIO ui header">
      {{#if username}}
        Welcome my boyy
      {{else}}
        Welcome {{username}}
      {{/if}}
      </h1>
      <div class="ui horizontal clearing divider"><i class="heart icon"></i></div>
    </div>
  </div>
  <div class="center one column aligned row">
    <div class="column">
        <div class="ui segment">
          {{> userCard }}
        </div>
    </div>
  </div>
</div>


</template>


